/build/
# Ignore lock and log files
BookingSystem/db.lck

derby.log
BookingSystem/log/log.ctrl
BookingSystem/log/log1.dat
BookingSystem/log/logmirror.ctrl

# Ignore NetBeans specific files
nbproject/private/
